/__pycache__
**/__pycache__/
**/*.__pycache__/
.ipynb_checkpoints
**/*.ipynb_checkpoints/
.pickle
**/*.pickle
.png
**/*.png
**/*.gif
notebooks/quick_experiments/
.jpg
**/*.jpg
*wandb
*slurm
slurm-*
*arny
arny*
*.netrc
sim/sim_results/
sim/sim_results/*
sim/logs/
sim/logs/*
sim/sbatch/
sim/sbatch/*
*.sh
*/glass/
glass/*
*/annotations
/annotations/*
/atlases/*
*atlases/