/__pycache__
**/*.__pycache__/
**/__pycache__/
.ipynb_checkpoints
**/*.ipynb_checkpoints/
.pickle
**/*.pickle
.png
.jpg
**/*.png
**/*.jpg
*wandb
slurm*
alexander-ratzan-new-york-university
.netrc
.DS_Store