name: dynamic_mlp
method: random
metric:
  name: mean_val_loss
  goal: minimize

### TRANSCRIPTOME, 100 parc full brain
# BAYES
# parameters:
#   input_dim:
#     value: !!int 0
#   hidden_dims:
#     distribution: categorical
#     values:
#       - [256, 128]
#       - [512, 256, 128]
#   learning_rate:
#     distribution: log_uniform_values
#     min: 0.00005
#     max: 0.0001
#   batch_size:
#     distribution: int_uniform
#     min: 256
#     max: 512
#   dropout_rate:
#     distribution: uniform
#     min: 0.1
#     max: 0.3
#   weight_decay:
#     distribution: log_uniform_values
#     min: 0.00005
#     max: 0.0005
#   epochs:
#     distribution: int_uniform
#     min: 100
#     max: 175

# SMALL GRID
parameters:
  input_dim:
    value: !!int 0
  binarize:
    value: !!int 0
  hidden_dims:
    values:
      - [256, 128]
      - [512, 256, 128]
  learning_rate:
    values: [0.00009, 0.0001]
  batch_size:
    values: [64, 256, 512]
  dropout_rate:
    values: [0, 0.1, 0.3]
  weight_decay:
    values: [0.0001, 0.00001, 0]
  epochs:
    values: [100, 150]
  
# BINARY
# best_parameters:
#   input_dim:
#     value: !!int 0
#   binarize:
#     value: !!int 0
#   hidden_dims:
#     values:     
#     - [256, 128]
#   learning_rate:
#     values: [0.00009]
#   batch_size:
#     values: [64]
#   dropout_rate:
#     values: [0.5]
#   weight_decay:
#     values: [0.0001]
#   epochs:
#     values: [100]

# REGRESSION
# best_parameters:
#   input_dim:
#     value: !!int 0
#   binarize:
#     value: !!int 0
#   hidden_dims:
#     values:     
#     - [256, 128]
#   learning_rate:
#     values: [0.00009] # .00009
#   batch_size:
#     values: [512]
#   dropout_rate:
#     values: [0.2]
#   weight_decay:
#     values: [0.0001]
#   epochs:
#     values: [100]

### EUCLID
# best_parameters: # best 01/28, best 03/17 is default params
#   input_dim:
#     value: !!int 0
#   hidden_dims:
#     values:     
#     - [64, 32, 16]
#   learning_rate:
#     values: [0.0003]
#   batch_size:
#     values: [128]
#   dropout_rate:
#     values: [0.1]
#   weight_decay:
#     values: [0.002]
#   epochs:
#     values: [150]