name: dynamic_mlp
method: random
metric:
  name: mean_val_loss
  goal: minimize

# SMALL GRID
parameters:
  input_dim:
    value: !!int 0
  hidden_dims:
    values:
      # - [32]
      # - [64, 32]
      # - [128, 64]
      - [256, 128]
      - [512, 256, 128]
      - [1024, 512, 256, 128]
      # - [2048, 1024, 512, 256, 128]
      # - [4096, 2048, 1024, 512, 256, 128]
      # - [8192, 2048, 1024, 512, 256, 128]
      # - [8192, 4096, 2048, 1024, 512, 256, 128]
  learning_rate:
    values: [0.00009] # [0.00009, 0.0001]
  batch_size:
    values: [512] # [256, 512, 1024]
  dropout_rate:
    values: [0.0, 0.1, 0.3]
  weight_decay:
    values: [0.0001, 0.00001, 0]
  epochs:
    values: [75, 100, 125]

# REGRESSION
best_parameters:
  input_dim:
    value: !!int 0
  hidden_dims:
    values:    
      - [512, 256, 128]
  learning_rate:
    values: [0.00009]
  batch_size:
    values: [512]
  dropout_rate:
    values: [0.1]
  weight_decay:
    values: [0.0001]
  epochs:
    values: [125]