method: random
metric:
  name: mean_val_loss
  goal: minimize
# parameters:
#   hidden_dims:
#     values:     
#       - [512, 256, 128]
#       - [1024, 512, 256, 128]
#   learning_rate:
#     values: [0.0001, .0003, .001, .01]
#   batch_size:
#     values: [128, 256, 512, 1048] #, 64] # 16, 32 128
#   dropout_rate:
#     values: [0.0, 0.2, 0.4]
#   weight_decay:
#     values: [0.0, 0.0001, 0.001, 0.01] 
#   input_dim:
#     value: !!int 0
#   epochs:
#     values: [100, 150, 200]


# Best run on 100 parcellation
parameters:
  hidden_dims:
    values:     
    - [512, 256, 128]
#       - [512, 256, 128]
  learning_rate:
    values: [0.0001]  
  batch_size:
    values: [400] 
  dropout_rate:
    values: [0.2] 
  weight_decay:
    values: [0.001] 
  input_dim:
    value: !!int 0
  epochs:
    values: [100]