method: bayes
metric:
  name: mean_val_loss
  goal: minimize
parameters:
  input_dim:
    value: !!int 0
  hidden_dims:
    distribution: categorical
    values:
      - [256, 128]
      - [512, 256, 128]
      - [1024, 512, 256, 128]
  learning_rate:
    distribution: log_uniform_values
    min: 0.0001
    max: 0.01
  batch_size:
    distribution: int_uniform
    min: 128
    max: 1048
  dropout_rate:
    distribution: uniform
    min: 0.0
    max: 0.5
  weight_decay:
    distribution: log_uniform_values
    min: 0.0001
    max: 0.01
  epochs:
    distribution: int_uniform
    min: 100
    max: 300

best_parameters: # 100 parcellation
  hidden_dims:
    values:     
    - [512, 256, 128]
  learning_rate:
    values: [0.0001]  # 0.0001
  batch_size:
    values: [512] # 256
  dropout_rate:
    values: [0.2] 
  weight_decay:
    values: [0.01] # .001
  input_dim:
    value: !!int 0
  epochs:
    values: [200]