name: gaussian_kernel
method: random
metric:
  name: mean_val_loss
  goal: minimize

parameters:
  input_dim: 
    value: !!int 0
  init_sigma:
    values: [None, 0.5, 1.0, 2.0, 5.0, 10, 50, 100]

best_parameters:
  input_dim: 
    value: !!int 0