name: shared_transformer_pool_cls
method: bayes
metric:
  name: mean_val_loss
  goal: minimize

parameters: 
  input_dim:
    value: !!int 0
  token_encoder_dim:
    values: [10, 20, 60]
  d_model:
    values: [32, 64, 128, 256]
  encoder_output_dim:
    value: 10
  use_alibi:
    values: [True]
  nhead:
    values: [2, 4]
  num_layers:
    values: [2, 4]
  deep_hidden_dims:
    values: 
    - [256, 128]
    - [256, 128, 64]
    - [512, 256, 128]
  transformer_dropout:
    values: [0, 0.1, 0.2]
  dropout_rate:
    values: [0, 0.1, 0.2]
  learning_rate:
    values: [.001, .0005, .0003, .0001, .00005, .00001, .000005]
  weight_decay:
    values: [0, 0.00001, .0001]
  batch_size:
    value: 1024
  aug_prob:
    value: 0.3
  epochs:
    value: 60
  num_workers:
    value: 2
  prefetch_factor:
    value: 4
    
best_parameters:
  input_dim:
    value: !!int 0
  token_encoder_dim:
    values: [20]
  d_model:
    values: [128]
  encoder_output_dim:
    values: [10]
  use_alibi:
    values: [True]
  nhead:
    values: [4]
  num_layers:
    values: [4]
  deep_hidden_dims:
    values:
      - [512, 256, 128]
  cls_init:
    values: ['spatial_learned']
  transformer_dropout:
    values: [0.1]
  dropout_rate:
    values: [0.1]
  learning_rate:
    values: [0.00001]
  weight_decay:
    values: [0.00001]
  batch_size:
    values: [1024]
  aug_prob:
    values: [0.3]
  epochs:
    values: [100]
  num_workers:
    values: [2]
  prefetch_factor:
    values: [4]