method: random
metric:
  name: mean_val_loss
  goal: minimize

parameters:
  input_dim:
      value: !!int 0
  encoder_output_dim:
    values: [128] #[128, 256, 512]
  nhead: # make sure this is a multiple of input_dim
    values: [2] # , 4, 8]
  num_layers:
    values: [2] # , 4, 6]
  deep_hidden_dims:
    values:
    - [128]
    # - [512, 256]
    # - [512, 256, 128]
  dropout_rate:
    values: [0.2]
  learning_rate:
    values: [0.0001]
  weight_decay:
    values: [0.0]
  lambda_reg:
    values: [0]
  batch_size:
    values: [256]
  epochs:
    values: [50]

best_parameters:
  input_dim:
    values: !!int 0
  token_encoder_dim:
    values: [8]
  encoder_output_dim:
    values: [1]
  nhead:
    values: [2]
  num_layers:
    values: [1]
  deep_hidden_dims:
    values:
    - [64]
  dropout_rate:
    values: [0.2]
  learning_rate:
    values: [0.0001]
  weight_decay:
    values: [0.0]
  lambda_reg:
    values: [0]
  batch_size:
    values: [256]
  epochs:
    values: [200]