method: random
metric:
  name: mean_val_loss
  goal: minimize

parameters:
  input_dim:
      value: !!int 0
  encoder_output_dim:
    values: [64] #[128, 256, 512]
  nhead: # make sure this is a multiple of input_dim
    values: [1] # , 4, 8]
  num_layers:
    values: [2] # , 4, 6]
  deep_hidden_dims:
    values:
    - [64]
    # - [512, 256]
    # - [512, 256, 128]
  dropout_rate:
    values: [0.2]
  learning_rate:
    values: [0.0001]
  weight_decay:
    values: [0.0]
  lambda_reg:
    values: [0]
  batch_size:
    values: [256]
  epochs:
    values: [100]

# method: bayes
# metric:
#   name: mean_val_loss
#   goal: minimize
# parameters:
#   input_dim:
#     values: [64, 128, 256]
#   encoder_output_dim:
#     values: [128, 256, 512]
#   nhead:
#     values: [2, 4, 8]
#   num_layers:
#     values: [2, 4, 6]
#   deep_hidden_dims:
#     values: [[128], [256, 128], [512, 256, 128]]
#   dropout_rate:
#     distribution: uniform
#     min: 0.1
#     max: 0.5
#   learning_rate:
#     distribution: log_uniform
#     min: 0.0001
#     max: 0.01
#   weight_decay:
#     distribution: log_uniform
#     min: 0.0
#     max: 0.1
#   lambda_reg:
#     values: [0.5, 1.0, 1.5]
#   batch_size:
#     values: [128, 256, 512]
#   epochs:
#     values: [50, 100, 150]