name: shared_transformer_pool_cls
method: random
metric:
  name: mean_val_loss
  goal: minimize

parameters: 
  input_dim:
    value: !!int 0
  token_encoder_dim:
    values: [20, 60]
  d_model:
    values: [64, 128]
  use_alibi:
    values: [True]
  nhead:
    values: [4]
  num_layers:
    values: [4]
  deep_hidden_dims:
    values: 
    - [256, 128]
    - [256, 128, 64]
    - [512, 256, 128]
  transformer_dropout:
    values: [0.1, 0.2]
  dropout_rate:
    values: [0.1, 0.2]
  learning_rate:
    values: [.001, .0003, .0005]
  weight_decay:
    values: [0, 0.00001, 0.0001]
  batch_size:
    value: 1024
  aug_prob:
    values: [0, 0.3, 0.45]
  epochs:
    values: [90, 110]
  num_workers:
    value: 2
  prefetch_factor:
    value: 4
    
best_parameters:
  input_dim:
    value: !!int 0
  token_encoder_dim:
    values: [60]
  d_model:
    values: [64]
  use_alibi:
    values: [True]
  nhead:
    values: [4]
  num_layers:
    values: [4]
  deep_hidden_dims:
    values:
    - [256, 128, 64]
  cls_init:
    values: ['spatial_learned']
  transformer_dropout:
    values: [0.1]
  dropout_rate:
    values: [0.1]
  learning_rate:
    values: [0.001] # 0.0003 for random
  weight_decay:
    values: [0.00001]
  batch_size:
    values: [1024]
  aug_prob:
    values: [0.45]
  epochs:
    values: [11]
  num_workers:
    values: [2]
  prefetch_factor:
    values: [4]