name: shared_transformer_pca
method: random
metric:
  name: mean_val_loss
  goal: minimize

parameters:
  input_dim:
    value: !!int 0

  # PCA encoder params
  n_components:           # Number of PCA components (tokens)
    values: [64, 128, 256]
  # Transformer model params
  d_model:                # Latent dimension of each token
    values: [64, 128]
  nhead:
    values: [2, 4]
  num_layers:
    values: [2, 4]
  deep_hidden_dims:
    values:
      - [256, 128]
      - [512, 256, 128]
  transformer_dropout:
    values: [0.1, 0.2]
  dropout_rate:
    values: [0.1, 0.2]
  learning_rate:
    values: [0.0007, 0.0005, 0.0003, 0.0001, 0.00007]
  weight_decay:
    values: [0.00001, 0.0001, .0]
  batch_size:
    values: [1024]
  aug_prob:
    values: [0, 0.3, 0.45]
  epochs:
    values: [70, 90, 110]
  num_workers:
    values: [2]
  prefetch_factor:
    values: [4]

best_parameters:
  input_dim:
    value: !!int 0
  n_components:
    values: [128]
  d_model:
    values: [64]
  nhead:
    values: [2]
  num_layers:
    values: [2]
  deep_hidden_dims:
    values:
      - [256, 128]
  transformer_dropout:
    values: [0.1]
  dropout_rate:
    values: [0.1]
  learning_rate:
    values: [0.0001]
  weight_decay:
    values: [0.00001]
  batch_size:
    values: [1024]
  aug_prob:
    values: [0.3]
  epochs:
    values: [10]
  num_workers:
    values: [2]
  prefetch_factor:
    values: [4]