name: shared_transformer_cls
method: grid # grid or random
metric:
  name: mean_val_loss
  goal: minimize

parameters: 
  input_dim:
    value: !!int 0
  binarize:
    value: !!int 0
  token_encoder_dim:
    values: [40, 60, 80]
  d_model:
    values: [128]
  encoder_output_dim:
    values: [10]
  use_alibi:
    values: [False]
  nhead:
    values: [2, 4] 
  num_layers:
    values: [2]
  deep_hidden_dims:
    values:
    - [256, 128]
  cls_init:
    values: ['spatial_learned', 'spatial_fixed']
  transformer_dropout:
    values: [0.2, 0.4]
  dropout_rate:
    values: [0.2]
  learning_rate:
    values: [0.00009]
  weight_decay:
    values: [0.0001]
  batch_size:
    values: [512]
  aug_prob:
    values: [0.0]
  epochs:
    values: [10]
    
best_parameters:
  input_dim:
    value: !!int 0
  binarize:
    value: !!int 0
  token_encoder_dim:
    values: [60]
  d_model:
    values: [128]
  encoder_output_dim:
    values: [10]
  use_alibi:
    values: [False]
  nhead:
    values: [2] 
  num_layers:
    values: [2]
  deep_hidden_dims:
    values:
    - [256, 128]
  cls_init:
    values: ['spatial_fixed']
  transformer_dropout:
    values: [0.2]
  dropout_rate:
    values: [0.2]
  learning_rate:
    values: [0.00009]
  weight_decay:
    values: [0.0001]
  batch_size:
    values: [512]
  aug_prob:
    values: [0.0]
  epochs:
    values: [50]